@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  @apply h-full p-0 m-0 scroll-smooth;
}

body {
  @apply min-h-screen mx-auto my-auto leading-7 overflow-x-hidden;
}

body.dark {
  @apply bg-black;
}
